{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/iceland_1.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Hey, I'm Jess!</p>
        <p>Recently I decided to tackle 100 Days Of Code as a way to get familiar with python.
          It's been amazing to see how much progress I've been able to make in such a short amount of time, and I've
          really enjoyed all the interesting projects I've worked on so far!</p>
        <p>A bit more about me - I'm a Data Scientist with an Astrophysics degree and a <b>love</b> for learning!
          I can't sit still without a plan and am always trying to go new places, try new hobbies and eat lots of
          different types of food. I started running around a year ago and <em>hated it</em>, but since then it's really
          grown on me and I'm about to do my third 10k. In my spare time I often bake, read and play video games
          - especially minecraft!</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
